JWT_SECRET=change_me
JWT_EXPIRES_IN_SECOND=172800
BCRYPT_SALT_ROUNDS=12
MONGODB_URI=mongodb://localhost:27017/dwitter
PORT=8080
CORS_ALLOW_ORIGIN=http://localhost:3000
CSRF_SECRET_KEY=change_me
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100
